* {
    margin: 0px;
}


#top {
    margin-top: -20px;
    padding: 0px;
    background-image: url(http://cdn2us.denofgeek.com/sites/denofgeekus/files/nintendo-new-super-mario-bros-ds-art-screenshot.jpg);
    height: 65vh;
}

#banner {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 95px;
}

#banner>h1 {
    font-family: san-serif;
    font-size: 4.5em;
    color: red;
    text-shadow: -3px 0 black;
}

#banner p {
    font-family: monospace;
    color: white;
    font-size: 18px;
    text-shadow: -1px 0 black;
    margin-top: -20px;
}

.clear {
    clear: both;
}

main {
    width: 90%;
    margin: auto;
    margin-top: 10px;
}

header {
    width: 15%;
    display: inline-block;
    float: left;
}

nav li {
    list-style: none;
    line-height: 40px;
}

nav li a {
    text-decoration: none;
}


section {
    width: 85%;
    float: left;
    margin: auto;
}


.baddies {
    display: inline-block;
    width: 30%;
    margin: auto 10px;
}

.badimages {
    width: 150px;
    margin-left: 30px;
    text-align: center;
}

.names {
    color: darkgoldenrod;
    font-size: 22px;
}
